/* https://material.io/design/color/the-color-system.html#tools-for-picking-colors */

.primary {
  color: #20a689;
}

.b--primary {
  border-color: #20a689;
}

.bg-primary {
  background-color: #20a689;
}

.primary900 {
  color: #004d33;
}

.primary800 {
  color: #00694d;
}

.primary700 {
  color: #00795b;
}

.primary600 {
  color: #00896a;
}

.primary500 {
  color: #009676;
}

.primary400 {
  color: #20a689;
}

/* primary */

.primary300 {
  color: #4ab69c;
}

.primary200 {
  color: #7ecbb8;
}

.primary100 {
  color: #b1dfd4;
}

.primary50 {
  color: #dff2ee;
}

.comp {
  color: #a6203d;
}

.b--comp {
  border-color: #a6203d;
}

.comp900 {
  color: #831538;
}

.comp800 {
  color: #a6203d;
}

.comp700 {
  color: #b9273f;
}

.comp600 {
  color: #cd2d41;
}

.comp500 {
  color: #dd3342;
}

.comp400 {
  color: #e4485b;
}

.comp300 {
  color: #ec6476;
}

.comp200 {
  color: #f38f9c;
}

.comp100 {
  color: #f9bac3;
}

.comp50 {
  color: #fde4e7;
}

/* analogous */

.agreen {
  color: #20a646;
}

.agreen900 {
  color: #00631b;
}

.agreen800 {
  color: #00822f;
}

.agreen700 {
  color: #10943a;
}

.agreen600 {
  color: #20a646;
}

.agreen500 {
  color: #2ab54f;
}

.agreen400 {
  color: #51c06a;
}

.agreen300 {
  color: #73cc85;
}

.agreen200 {
  color: #9ddaa8;
}

.agreen100 {
  color: #c4e8ca;
}

.agreen50 {
  color: #e6f6e9;
}

.ablue {
  color: #2080a6;
}

.ablue900 {
  color: #146085;
}

.ablue800 {
  color: #2080a6;
}

.ablue700 {
  color: #2291b9;
}

.ablue600 {
  color: #2ea4cb;
}

.ablue500 {
  color: #37b2d8;
}

.ablue400 {
  color: #4cbddb;
}

.ablue300 {
  color: #65c9df;
}

.ablue200 {
  color: #8bd9e7;
}

.ablue100 {
  color: #b7e8ef;
}

.ablue50 {
  color: #e3f6f9;
}

/* triadic */

.anavy {
  color: #203da6;
}

.anavy900 {
  color: #002086;
}

.anavy800 {
  color: #15339a;
}

.anavy700 {
  color: #203da6;
}

.anavy600 {
  color: #2a47b2;
}

.anavy500 {
  color: #314fbc;
}

.anavy400 {
  color: #5369c6;
}

.anavy300 {
  color: #7384d0;
}

.anavy200 {
  color: #9ca7dd;
}

.anavy100 {
  color: #c3c9eb;
}

.anavy50 {
  color: #e7eaf7;
}

.apurple {
  color: #8920a6;
}

.apurple900 {
  color: #451088;
}

.apurple800 {
  color: #651796;
}

.apurple700 {
  color: #761b9e;
}

.apurple600 {
  color: #8920a6;
}

.apurple500 {
  color: #9722ac;
}

.apurple400 {
  color: #a644b8;
}

.apurple300 {
  color: #b665c5;
}

.apurple200 {
  color: #cb91d6;
}

.apurple100 {
  color: #dfbde6;
}

.apurple50 {
  color: #f2e4f4;
}

