/* https://material.io/design/color/the-color-system.html#tools-for-picking-colors */

.primary {
  color: #7ecbb8;
}

.b--primary {
  border-color: #7ecbb8;
}

.bg-primary {
  background-color: #7ecbb8;
}

.primary900 {
  color: #004d33;
}

.primary800 {
  color: #00694d;
}

.primary700 {
  color: #00795b;
}

.primary600 {
  color: #00896a;
}

.primary500 {
  color: #009676;
}

.primary400 {
  color: #20a689;
}

.primary300 {
  color: #4ab69c;
}

.primary200 {
  color: #7ecbb8;
}

.primary100 {
  color: #b1dfd4;
}

.primary50 {
  color: #dff2ee;
}

.comp {
  color: #f38f9c;
}

.b--comp {
  border-color: #f38f9c;
}

.comp900 {
  color: #831538;
}

.comp800 {
  color: #a6203d;
}

.comp700 {
  color: #b9273f;
}

.comp600 {
  color: #cd2d41;
}

.comp500 {
  color: #dd3342;
}

.comp400 {
  color: #e4485b;
}

.comp300 {
  color: #ec6476;
}

.comp200 {
  color: #f38f9c;
}

.comp100 {
  color: #f9bac3;
}

.comp50 {
  color: #fde4e7;
}

/* analogous */

.green {
  color: #20a646;
}

.green900 {
  color: #00631b;
}

.green800 {
  color: #00822f;
}

.green700 {
  color: #10943a;
}

.green600 {
  color: #20a646;
}

.green500 {
  color: #2ab54f;
}

.green400 {
  color: #51c06a;
}

.green300 {
  color: #73cc85;
}

.green200 {
  color: #9ddaa8;
}

.green100 {
  color: #c4e8ca;
}

.green50 {
  color: #e6f6e9;
}

.blue {
  color: #2080a6;
}

.blue900 {
  color: #146085;
}

.blue800 {
  color: #2080a6;
}

.blue700 {
  color: #2291b9;
}

.blue600 {
  color: #2ea4cb;
}

.blue500 {
  color: #37b2d8;
}

.blue400 {
  color: #4cbddb;
}

.blue300 {
  color: #65c9df;
}

.blue200 {
  color: #8bd9e7;
}

.blue100 {
  color: #b7e8ef;
}

.blue50 {
  color: #e3f6f9;
}

/* triadic */

.navy {
  color: #203da6;
}

.navy900 {
  color: #002086;
}

.navy800 {
  color: #15339a;
}

.navy700 {
  color: #203da6;
}

.navy600 {
  color: #2a47b2;
}

.navy500 {
  color: #314fbc;
}

.navy400 {
  color: #5369c6;
}

.navy300 {
  color: #7384d0;
}

.navy200 {
  color: #9ca7dd;
}

.navy100 {
  color: #c3c9eb;
}

.navy50 {
  color: #e7eaf7;
}

.purple {
  color: #8920a6;
}

.purple900 {
  color: #451088;
}

.purple800 {
  color: #651796;
}

.purple700 {
  color: #761b9e;
}

.purple600 {
  color: #8920a6;
}

.purple500 {
  color: #9722ac;
}

.purple400 {
  color: #a644b8;
}

.purple300 {
  color: #b665c5;
}

.purple200 {
  color: #cb91d6;
}

.purple100 {
  color: #dfbde6;
}

.purple50 {
  color: #f2e4f4;
}

/* white overlays with transparency
https://material.io/design/color/dark-theme.html#properties
*/

.depth-0 {
  background-color: #121212;
}

.depth-1 {
  background-color: rgba(255, 255, 255, 0.05);
}

.depth-2 {
  background-color: rgba(255, 255, 255, 0.07);
}

.depth-3 {
  background-color: rgba(255, 255, 255, 0.08);
}

.depth-4 {
  background-color: rgba(255, 255, 255, 0.09);
}

.depth-5 {
  background-color: rgba(255, 255, 255, 0.11);
}

.depth-6 {
  background-color: rgba(255, 255, 255, 0.12);
}

.depth-7 {
  background-color: rgba(255, 255, 255, 0.14);
}

.depth-8 {
  background-color: rgba(255, 255, 255, 0.15);
}

.depth-9 {
  background-color: rgba(255, 255, 255, 0.16);
}

/* text colors */

.text-0 {
  color: #aaa;
}

.text-1 {
  color: #ccc;
}

.text-2 {
  color: #eee;
}

.clip {
  position: fixed !important;
  _position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

